*,
::before,
::after{
    margin: 0;
    padding: 0;
}

#screen{
background-image: url("../images/screen.png");
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    background-color: white;
    width: 300px;
    height: 60vh;
    border-radius: 10px;
    
    
}